

.container {
	width: 80%;
	margin: 25px auto;
	/*border:  1px solid black;*/
}

.item {
	border: 1px solid black;
	border-radius: 1px;
}

@media screen and (min-width:  1px) and (max-width:  700px) {

	.container {
		width:  98%;
	}

	.grid {
		display:  grid;
		background: white;
		display: grid;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		grid-template-rows: 200px 100px 100px;
		grid-gap: 5px;
		justify-content: space-between;
	}

	h1 {
		color:  blue;
		font-size: 34px;
	}

}


@media screen and (min-width: 701px) and (max-width:  1024px) {

	.container {
		width:  80%;
	}

	h1 {
		color:  green;
		font-size:  42px;
	}

	.md-grid-col-1, 
	.md-grid-col-2, 
	.md-grid-col-3,
	.md-grid-col-4,
	.md-grid-col-5, 
	.md-grid-col-6 {
		display:  grid;
		grid-gap: 2px;
	}

	.md-grid-col-1 {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	.md-grid-col-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.md-grid-col-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.md-grid-col-4 {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}

	.md-grid-col-5 {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}

	.md-grid-col-6 {
		grid-template-columns: repeat(6, minmax(0, 1fr));
	}

	.item {
		border-radius: 2px;
	}

}


@media screen and (min-width: 1025px) and (max-width:  2200px) {

	.container {
		width: 90%;
	}

	h1 {
		color:  red;
		font-size:  42px;
	}

	.lg-grid-col-1, 
	.lg-grid-col-2, 
	.lg-grid-col-3,
	.lg-grid-col-4,
	.lg-grid-col-5, 
	.lg-grid-col-6 {
		display:  grid;
		grid-gap: 5px;
	}

	.lg-grid-col-1 {
		grid-template-columns: repeat(1, minmax(0, 1fr));
	}

	.lg-grid-col-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.lg-grid-col-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	.lg-grid-col-4 {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}

	.lg-grid-col-5 {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}

	.lg-grid-col-6 {
		grid-template-columns: repeat(6, minmax(0, 1fr));
	}

	.item {
		border-radius: 2px;
	}

	p.testLarge {
		color:  red;
		font-size: 44px;
	}

}









